#img1{
    position:absolute ;
    top: 20%;
    left: 40%;
    filter: drop-shadow(20px 20px red);

}
#img1:hover{
    filter: drop-shadow(-20px -20px red);
    transform: translate(10px 10px);
    transition-duration:1s;
}