section{
    border: 2px solid;
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-content: center;
    justify-content: center;
    align-content: flex-start;
    justify-content: flex-end;
    align-content: center;
    justify-content: start;
    /* gap: 50px; */
    row-gap: 50px;
    column-gap: 50px;


}
div{
    border: 2px solid;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 40px;
}
h1{
    font-family: "Playwrite IN", serif;
}
h2{
    font-family: "Noto Sans KR", serif;
}