aside,div,section{
    border: 2px solid;
    height: 150px;
    width: 150px;
}
aside{
    background-color: red;
    position: absolute;
    z-index: 51;
}
div{
    background-color: aqua;
    position: absolute;
    top: 0%;
    left: 6%;
    z-index: 71;
}
section{
    background-color: hotpink;
    position: absolute;
    left: 8%;
    top: 5%;
z-index:8;
}