nav{
    border: 2px solid;
    height: 50px;
}
ol{
    list-style: none;
     position: relative;
    /* border: 2px solid;  */
}
/* #l{
    margin-left: 40%;
    margin-top: -3%;
} */
/* #r{
    margin-left: 80%;
    margin-top: -3%;
} */

#l{
    position: absolute;
    top: 0%;
    left: 40%; 
 }  
 #r{
    position: absolute;
    top: 0%;
    right:10%;
}